	{% extends "base.html" %}



{% block content %}
	

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								{%if category%}{{category}}{% endif %}				
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="category.html"> Job category</a></p>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
			
			<!-- Start post Area -->
			<section class="post-area section-gap">
				<div class="container">
					<div class="row justify-content-center d-flex">
						{% if data %}
						{% for d in data %}
						<div class="col-lg-8 post-list">
							<div class="single-post d-flex flex-row">
								<div class="thumb">
									<img src="{{ url_for('static',filename='img/post.png')}}"  alt="">
					
								</div>
								<div class="details">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<a href="/single?pid={{d['pid']}}"><h4>{{d['title']}}</h4></a>
											<h6>{{d['owner']}}</h6>					
										</div>
										<ul class="btns">
											<li><a href="#"><span class="lnr lnr-heart"></span></a></li>
											<li><a href="#">Apply</a></li>
										</ul>
									</div>
									<p>
										{{d['description']}}
									</p>
									<h5>Job Nature: Full time</h5>
									<p class="address"><span class="lnr lnr-database"></span>Income: {{d['income']}}</p>
								</div>
							</div>


							
							</div>	
							{% endfor %}
							{% endif %}
							</div>
						</div>
					</section>
	
		

			{% endblock %}

