{% extends "base.html" %}

	
{% block content %}

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-12">
							<h1 class="text-white">
								 Job Search Made Simple				
							</h1>	
							<form method = "POST" action="/search" class="serach-form-area">
								<div class="row justify-content-center form-wrap">
									<div class="col-lg-4 form-cols">
										<input type="text" class="form-control" name="search" placeholder="what are you looking for?">
									</div>
									<div class="col-lg-3 form-cols">
										<div class="default-select" id="default-selects">
											<select name="location">
												<option value="none">Select area</option>
												<option value="san jose">San Jose</option>
												<option value="santa clara">Santa Clara</option>
												<option value="san francisco">San Francisco</option>
												<option value="palo alto">Palo Alto</option>
											</select>
										</div>
									</div>
									<div class="col-lg-3 form-cols">
										<div class="default-select" id="default-selects2">
											<select name="category">
												<option value="None">All Category</option>
												<option value="Medical">Medical</option>
												<option value="Technology">Technology</option>
												<option value="Administration">Administration</option>
												<option value="Comestic">Comestic</option>
												<option value="Fitness">Fitness</option>
												<option value="Aviation">Aviation</option>
												<option value="Culinary">Culinary</option>
												<option value="Childcare">Childcare</option>

											</select>
										</div>										
									</div>
									<div class="col-lg-2 form-cols">
									    <button type="submit" class="btn btn-info">
									      <span class="lnr lnr-magnifier"></span> Search
									    </button>
									</div>								
								</div>
							</form>	
							<h1 class="text-white">
								The Zealous Friend You Need 				
						   </h1>	
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
			
			<!-- Start feature-cat Area -->
			<section class="feature-cat-area pt-100" id="category">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Featured Job Categories</h1>
							</d>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="/category?category=Administration" >
									<img src="{{ url_for('static',filename='img/o1.png')}}" alt="">
								</a>
								<p>Administration</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="/category?category=Aviation">
									<img src="{{ url_for('static',filename='img/o2.png')}}" alt="">
								</a>
								<p>Aviation</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="/category?category=Technology">
									<img src="{{ url_for('static',filename='img/o3.png')}}" alt="">
								</a>
								<p>Technology</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="/category?category=Medical">
									<img src="{{ url_for('static',filename='img/o4.png')}}" alt="">
								</a>
								<p>Medical</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="/category?category=Childcare">
									<img src="{{ url_for('static',filename='img/o5.png')}}" alt="">
								</a>
								<p>Childcare Education</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="/category?category=Fitness">
									<img src="{{ url_for('static',filename='img/o6.png')}}" alt="">
								</a>
								<p>Fitness</p>
							</div>			
						</div>																											
					</div>
				</div>	
			</section>
			<!-- End feature-cat Area -->
			
			
			
	
		
			{% endblock %}
		