	{% extends "base.html" %}



	{% block content %}


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Job Details				
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="/single"> Job Details</a></p>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
				
			<!-- Start post Area -->
			<section class="post-area section-gap">
				<div class="container">
					<div class="row justify-content-center d-flex">
						{% if data %}

						<div class="col-lg-8 post-list">
							<div class="single-post d-flex flex-row">
								<div class="thumb">
									<img src="{{url_for('static',filename='img/post.png')}}"  alt="">
								</div>
								<div class="details">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<a href="/single"><h4>{{data['title']}}</h4></a>
											<h6>{{data['owner']}}</h6>					
										</div>
										<ul class="btns">
											<li><a href="#"><span class="lnr lnr-heart"></span></a></li>
											<li><a href="#">Apply</a></li>
										</ul>
									</div>
									<p>
										{{data['description']}}									</p>
									<h5>Job Nature: Full time</h5>
									<p class="address"><span class="lnr lnr-database"></span>Income: {{data['income']}}</p>
								</div>
							</div>	
					
							<div class="single-post job-experience">
								<h4 class="single-title">Certification Requirements</h4>
								<ul>
									{%if cert%}
									{%for c in cert%}
									<li>
										<img src="{{url_for('static',filename='img/pages/list.jpg')}}"  alt="">
										<span>{{c['name']}} Will take {{c['time']}}</span>
									</li>	
									{%endfor%}	
									{%endif%}																								
								</ul>
							</div>
							<div class="single-post job-experience">
								<h4 class="single-title">Perks</h4>
								<ul>
									{% for p in data['perks']%}
									<li>
										<img src="{{url_for('static',filename='img/pages/list.jpg')}}"  alt="">
										<span>{{p}}</span>
									</li>
									{% endfor %}
																				
								</ul>
							</div>														
						</div>
						{% endif %}
						
			</section>
			<!-- End calto-action Area -->




	{% endblock %}

